<!DOCTYPE html>
<head>
    <style>

</style>
</head>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Messages...</title>
</head>
<body>
<form action="/create-message" method="post">
    <input type="text" placeholder="Write a message here." name="message"/>
    <button type= "Post">Send message</button>
</form>
<h1>
    <i style="font-size:48px;color:maroon;">Messages:</i>
    by {{name}}...


</h1>
<h2>
    <ol>
    {{#messages}}

        <li>{{user.name}}: {{text}}</li>
    {{/messages}}
    </ol>
</h2>
</body>
</html>

